.header {
    position: fixed;
    width: 100%;
    min-height: 100px;
    color: #fff;
    transition: background-color .2s ease;
    z-index: 1;
    .common-inner {
        display: flex;
        align-items: flex-start;
        padding-top: 33px;
    }
    .logo {
        width: 164px; height: 27px;
        margin-right: 4vw;
        background-image: url(../images/logo.svg);
        background-size: contain;
        background-repeat: no-repeat;
        filter: invert(100%);
        transition: .2s ease;
        a {
            display: block;
            height: 100%;
        }
    }
    .gnb-menu {
        flex: 1;
        font-size: 0;
        text-align: center;
        transition: .2s ease;
        li {
            display: inline-block;
            width: 180px;
            font-size: 16px;
            line-height: 30px;
            text-align: left;
            vertical-align: top;
        }
        .covid {
            float: right;
            width: auto;
        }
        .subMenu-item {
            padding-bottom: 80px;
            margin-top: 83px;
            transition: margin .2s ease;
            display: none;
            & li {
            display: block;
            font-size: 16px;
            line-height: 30px;
            white-space: nowrap;
            transition: color .1s ease;
            &+li {
                margin-top: 16px;
            }
        }
        }
        a {
            display: inline-block;
            height: 100%;
        }
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        top: 100px; left: 0px; right: 0px;
        width: 100%;
        border-color: transparent;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        transition: border-color .2s ease;
    }
    &:hover {
        background-color: #fff;
        color: #000;
        h1 {
            filter: none;
        }
        .subMenu-item {
            display: block;
        }
        &::after {
            border-color: rgb(229, 229, 229);;
        }
    }
    &.transform {
        background-color: #fff;
        color: #666;
        .logo {
            filter: none;
        }
        .subMenu-item {
            display: block;
            margin-top: calc(-100% - 30px);
            transition: margin .2s ease;
            opacity: 0;
        }
        &:hover {
            color: #000;
        }
    }
}

// .header {
//     position: fixed;
//     width: 100%;
//     min-height: 100px;
//     background-color: #fff;
//     z-index: 1;
//     .common-inner {
//         display: flex;
//         padding-top: 33px;
//     }
//     h1 {
//         width: 164px; height: 27px;
//         margin-right: 4vw;
//         background-image: url(../images/logo.svg);
//         background-size: contain;
//         background-repeat: no-repeat;
//         transition: .2s ease;
//         a {
//             display: block;
//             height: 100%;
//         }
//     }
//     .gnb-menu {
//         flex: 1;
//         font-size: 0;
//         color: #666;
//         text-align: center;
//         li {
//             display: inline-block;
//             width: 180px;
//             font-size: 16px;
//             line-height: 30px;
//             text-align: left;
//             vertical-align: top;
//         }
//         .covid {
//             float: right;
//             width: auto;
//         }
//         .subMenu-item {
//             padding-bottom: 80px;
//             margin-top: calc(-100% - 30px);
//             transition: margin .2s ease;
//             opacity: 0;
//             li {
//                 font-size: 16px;
//                 line-height: 30px;
//                 white-space: nowrap;
//                 transition: color .1s ease;
//                 &+li {
//                     margin-top: 16px;
//                 }
//             }
//         }
//         a {
//             display: inline-block;
//             height: 100%;
//         }
//     }
//     &::after {
//         content: "";
//         display: block;
//         position: absolute;
//         top: 100px; left: 0px;
//         width: 100%;
//         border-color: rgb(229, 229, 229);
//         border-bottom-width: 1px;
//         border-bottom-style: solid;
//         transition: border-color .2s ease;
//     }
//     &:hover {
//         .gnb-menu {
//             color: #000;
//         }
//     }
// } // 서브페이지 헤더